{{!< default}}

<section class="wrapper wrapper-post">
  <div class="wrapper-container">
    <article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post {{post_class}}">
      {{#post}}
        <section class="post-container">
          <header class="post-header">
            <ul class="post-meta-list">
              <li class="post-meta-item">
                <time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished">
                  {{date published_at timeago="true"}}
                </time>
              </li>
              {{#if tags}}
                <li class="post-meta-item">
                  {{#foreach tags}}
                    <a itemprop="{{#if @first}}articleSection{{else}}keywords{{/if}}" href="{{url}}" data-pjax>{{name}}</a>
                    {{~#if @last}} {{else}}, {{/if}}
                  {{/foreach}}
                </li>
              {{/if}}
              <li class="post-meta-item">
                <a href="#disqus_thread" data-disqus-identifier="{{comment_id}}">Comments</a>
              </li>
            </ul>
            <h1 itemprop="name headline" class="post-title"><a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</a></h1>
            {{! A subtitle not available in Ghosts yet }}
            <!--h2 itemprop="about" class="post-subtitle"></h2-->
          </header>
          <aside class="post-side">
            <div class="post-author">
              {{#if author.profile_image}}
                <a href="{{author.website}}" class="post-author-avatar">
                  <img src="{{author.profile_image}}" alt="{{author.name}}">
                </a>
              {{/if}}
              <div class="post-author-info">
                <a href="{{author.website}}" class="post-author-name">
                  {{author.name}}
                </a>
                <p class="post-author-bio">{{author.bio}}</p>
              </div>
            </div>
          </aside>
          <div itemprop="articleBody" class="post-body">
            {{content}}
          </div>
          <footer class="post-footer">
            <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
              {{#if author.profile_image}}
                <a href="{{author.website}}" class="post-author-avatar">
                  <img itemprop="image" src="{{author.profile_image}}" alt="{{author.name}}">
                </a>
              {{/if}}
              <div class="post-author-info">
                <h4 class="post-footer-heading">Written By</h4>
                <a href="{{author.website}}" itemprop="url" class="post-author-name">
                  <span itemprop="name">{{author.name}}</span>
                </a>
                <p itemprop="description" class="post-author-bio">{{author.bio}}</p>
                {{#if author.location}}
                  <p class="post-author-location">{{author.location}}</p>
                {{/if}}
                {{#if author.website}}
                  <p class="post-author-website">
                    <a href="{{author.website}}" rel="nofollow">{{author.website}}</a>
                  </p>
                {{/if}}
                <p class="post-info">
                  <b class="post-info-title">Published on</b>
                  <time class="post-date">{{date format='MMMM DD, YYYY'}}</time>
                </p>
              </div>
            </div>
            <div class="post-social">
              <h4 class="post-footer-heading">Spread the word</h4>
              <a href="#" data-action="share-twitter"><i class="fa fa-fw fa-lg fa-twitter"></i></a>
              <a href="#" data-action="share-facebook"><i class="fa fa-fw fa-lg fa-facebook"></i></a>
              <a href="#" data-action="share-gplus"><i class="fa fa-fw fa-lg fa-google-plus"></i></a>
            </div>
          </footer>
        </section>
      {{/post}}
      <section itemprop="comment" class="post-comments">
        <div id="disqus_thread"></div>
      </section>
    </article>

    {{> footer this}}
  </div>
</section>

<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script type = "text/javascript"> 
/**
 * 调用ghost API，完成文章归档功能
 * 所需组件：jQuery、moment.js
 * @ldsun.com
 */
jQuery(document).ready(function() {
	//获取所有文章数据，按照发表时间排列
	$.get(ghost.url.api('posts', {
		limit: 'all',
		order: "published_at desc"
	})).done(function(data) {
		var posts = data.posts;
		var count = posts.length;
		for (var i = 0; i < count; i++) {
			//调用comentjs对时间戳进行操作
			//由于ghost默认是CST时区，所以日期会有出入，这里消除时区差
			var time = moment(posts[i].published_at).utcOffset("-08:00");
			var year = time.get('y');
			var month = time.get('M')+1;
			var date = time.get('D');
			if( date<10 ) date = "0"+date;
			var title = posts[i].title;
			var url = "{{@blog.url}}"+posts[i].url;
			//首篇文章与其余文章分步操作
			if (i > 0) {
				var pre_month = moment(posts[i - 1].published_at).utcOffset("-08:00").get('month')+1;
				//如果当前文章的发表月份与前篇文章发表月份相同，则在该月份ul下插入该文章
				if (month == pre_month) {
					var html = "<li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li>";
					$(html).appendTo(".archives .list-"+year+"-"+month);
				}
				//当月份不同时，插入新的月份
				else{
					var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li></ul></div>";
					$(html).appendTo('.archives');
				}
			}else{
				var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li></ul></div>";
				$(html).appendTo('.archives');
			}
		}
	}).fail(function(err) {
		console.log(err);
	});
}); 
</script>